body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(222, 26%, 93%);
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  #display {
    width: 100%;
    height: 60px;
    font-size: 30px;
    text-align: right;
    margin-bottom: 10px;
    padding-right: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 20px;
    font-size: 18px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #777;
  }
  
  button.zero {
    grid-column: span 2;
  }
  
  button.equal {
    background-color: #007BFF;
  }
  
  button.equal:hover {
    background-color: #0056b3;
  }